
@font-face {
font-family: 'Fira Sans', sans-serif; 
src: url('https://fonts.cdnfonts.com/css/fira-sans-book') format('woff');
}

@font-face {
font-family: 'Gotten', sans-serif;
src: url(''https://fonts.cdnfonts.com/css/gotten') format('woff');
font-style: normal;
}
