
@font-face {
font-family: 'FiraSans', sans-serif; 
src: url('https://github.com/in-cisor/sbns/blob/main/FiraSans-Regular.woff') format('woff');
font-style: normal;
}

@font-face {
font-family: 'Gotten', sans-serif;
src: url('https://github.com/in-cisor/sbns/blob/main/Gotten.woff') format('woff');
font-style: normal;
}
